.book-img {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.book-img1 {
  background-image: url("../../milk-book/pics/book1.png");
}

.book-img2 {
  background-image: url("../../milk-book/pics/book2.png");
}

.book-img3 {
  background-image: url("../../milk-book/pics/book3.png");
}

.book-img4 {
  background-image: url("../../milk-book/pics/book4.png");
}

.book-img5 {
  background-image: url("../../milk-book/pics/book5.png");
}

.book-img6 {
  background-image: url("../../milk-book/pics/book6.png");
}

.book-img7 {
  background-image: url("../../milk-book/pics/book7.png");
}

.book-img8 {
  background-image: url("../../milk-book/pics/book8.png");
}

.book-img9 {
  background-image: url("../../milk-book/pics/book9.png");
}

.book-img10 {
  background-image: url("../../milk-book/pics/book10.png");
}

.book-img11 {
  background-image: url("../../milk-book/pics/book11.png");
}

.book-img12 {
  background-image: url("../../milk-book/pics/book12.png");
}

.book-img13 {
  background-image: url("../../milk-book/pics/book13.png");
}

.book-img14 {
  background-image: url("../../milk-book/pics/book14.png");
}

.book-img15 {
  background-image: url("../../milk-book/pics/book15.png");
}

.book-img16 {
  background-image: url("../../milk-book/pics/book16.png");
}

.book-img17 {
  background-image: url("../../milk-book/pics/book17.png");
}

.book-img18 {
  background-image: url("../../milk-book/pics/book18.png");
}

.book-img19 {
  background-image: url("../../milk-book/pics/book19.png");
}

.book-img20 {
  background-image: url("../../milk-book/pics/book20.png");
}
